<template>
  <div>
    <b-carousel
      v-if="loading === false"
      :controls="false"
      :interval="3000"
      indicators
      :img-width="600"
      :img-height="400"
      class="mb-3"
    >
      <b-carousel-slide
        v-for="item in data"
        :key="item.id"
        :img-src="item.imgSrc"
        :img-alt="item.title"
        :caption="item.title"
        caption-title="Title"
      />
    </b-carousel>
    <b-spinner v-if="loading === true" variant="primary" label="Loading..."></b-spinner>
  </div>
</template>

<script>
export default {
  data() {
    return {
      data: [],
      loading: true
    };
  },
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const response = await axios.get("API-Endpoint");
        this.data = response.data;
        this.loading = false;
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>

<style>
.b-carousel-slide {
  max-height: 500px;
  overflow: hidden;
}
</style>
