<template>
  <div>
    <div v-if="loading === false">
      <h2>Top-Bewertete TV-Shows</h2>
      <ul>
        <li v-for="show in data.results" :key="show.id">
          {{ show.name }} (Bewertung: {{ show.vote_average }})
        </li>
      </ul>
    </div>
    <b-spinner v-if="loading === true" variant="primary" label="Loading..."></b-spinner>
  </div>
</template>

<script>
import axios from 'axios';
import { Carousel3d, Slide } from 'vue-carousel-3d';

export default {
  data() {
    return {
      data: {},
      loading: true
    };

  },
  mounted() {
    this.getData();
  },
  methods: {
    async getData() {
      try {
        const response = await axios.get("https://api.themoviedb.org/3/tv/top_rated?api_key={Euer Schlüssel]language=en-US&page=1");
        this.data = response.data;
        this.loading = false;
      } catch (error) {
        console.error(error);
      }
    }
  }
};
</script>
